language: php

sudo: required

php:
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - wget 'https://github.com/xp-framework/xp-runners/releases/download/v6.3.0/setup' -O - | php
  - echo "use=." > xp.ini
  - echo "[runtime]" >> xp.ini
  - echo "date.timezone=Europe/Berlin" >> xp.ini
  - php -v
  - php -m

script:
  - sudo apt-get install gdb
  - rm -f gdb-commands
  - echo run -C -q -d include_path=".:./.::.:test.xar" -d magic_quotes_gpc=0 -d date.timezone="Europe/Berlin" -d date.timezone="Europe/Berlin" ./class-main.php xp.unittest.Runner src/test/config/unittest/core.ini >> gdb-commands
  - echo quit >> gdb-commands
  - gdb `which php` -x gdb-commands
