language: php

sudo: required

php:
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - wget 'https://github.com/xp-framework/xp-runners/releases/download/v6.3.0/setup' -O - | php
  - echo "use=." > xp.ini
  - echo "[runtime]" >> xp.ini
  - echo "date.timezone=Europe/Berlin" >> xp.ini
  - php -v
  - php -m

script:
  - apt-get install strace
  - strace -f ./xp -cp test.xar xp.unittest.Runner src/test/config/unittest/core.ini
