language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - wget 'https://github.com/xp-framework/xp-runners/releases/download/v5.4.0/setup' -O - | php
  - echo "use=." > xp.ini
  - echo "[runtime]" >> xp.ini
  - echo "date.timezone=Europe/Berlin" >> xp.ini

script:
  - (EXCD=0; for i in `ls -1 src/test/config/unittest/*.ini | grep -v not-on-php-$TRAVIS_PHP_VERSION`; do echo "---> $i"; ./xp -cp lib/xp-unittest-6.4.0.xar xp.unittest.Runner $i; RES=$?; if [ $RES -ne 0 ]; then EXCD=$RES; fi; done; exit $EXCD;)
